body {
  background-image: url('https://imgs.search.brave.com/oHr6wUTiChW_pwyBYSyAOgFwI-ScZjXZy-3IQYDFi2Y/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3RpL2ZvdG9z/LWdyYXRpcy90Mi8y/OTI2NTYyMi1tYXIt/b3Utb2NlYW5vLWVt/YmFpeG8tZGEtYWd1/YS1wcm9mdW5kby1u/YXR1cmV6YS1mdW5k/by1haS1nZXJhZG8t/Zm90by5qcGc');
  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 8px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}


h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}
.card h3 {
  font-weight: bold;
  margin: 0 0 8px 0; 
}

.estatisticas {
  display: inline-block;
  background: rgba(255, 255, 255, 0.85);
  color: #0b3954;
  padding: 6px 16px;
  border-radius: 999px;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.status-critico {
  color: red;
  font-weight: bold;
}

.status-vulneravel {
  color: orange;
  font-weight: bold;
}

.status-estavel {
  color: green;
  font-weight: bold;
}

img {
  display: block;
  margin-bottom: 12px;
  width: 100%;    
  height: 170px;  
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
button {
  background-color: #0b3954;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 8px 24px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #1d6fa5;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 620px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.92);
  border-radius: 12px;
  padding: 10px;
}

@media (max-width: 640px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}